@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

body {
  font-family: "Comic Neue", cursive;
  background-image: url("./img/stars-bg.jpeg");
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header > img {
  /* 
    Invert SVG color by Engkus Kusnadi on Sep 29, 2016 at 4:04
    https://stackoverflow.com/questions/39761120/invert-svg-image-using-css 
    */
  filter: invert(100%);
}

nav > ul {
  list-style-type: none;

  font-size: 200%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

nav > ul a {
  color: rgb(252, 235, 85);
}

#who-am-i {
  color: rgb(235, 89, 45);
}

#my-professional-history {
  color: rgb(99, 235, 45);
}

#what-i-can-offer {
  color: rgb(81, 167, 238);
}

#profile-photo {
  align-self: center;
  max-width: 400px;
}

main {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  height: fit-content;
  max-width: 40ch;
  text-align: right;
}
